table { border-collapse: collapse; }

table, th, td { border: 1px solid black; }
th, td {text-align:center; vertical-align:center;}

tbody tr:nth-of-type(odd) {background-color:#cccccc;}
tbody tr:nth-of-type(even) {background-color:#ffffff;}
tbody tr:hover:nth-of-type(odd) {background-color:#3366ff;}
tbody tr:hover:nth-of-type(even) {background-color:#33cc33;}

tbody tr.haschanged:nth-of-type(odd) {background-color:#ccff99;}
tbody tr.haschanged:nth-of-type(even) {background-color:#cc99ff;}

tbody tr.rowchanged:nth-of-type(odd) {background-color:#cc00cc;}
tbody tr.rowchanged:nth-of-type(even) {background-color:#ff9900;}
