# This file is part of OpenIrrigation
#
# this service runs the script which harvests AGRIMET data and builds statistics
#
# man systemd.unit for parameters
# man systemd.service for parameters
# man systemd.exec for parameters

[Unit]
Description=OpenIrrigation Agrimet Harvester

[Service]
# Type=simple # Default
User=__USER__
Group=__GROUP__
WorkingDirectory=__LOGDIR__
ExecStart=__BINDIR__/AgriMet.py --db irrigation --log=__LOGDIR__/AgriMet.log
RestartSec=10 
Restart=always

[Install]
WantedBy=multi-user.target
