# This file is part of OpenIrrigation
#
# this service runs the script which builds daily reports and mails them out
#
# man systemd.unit for parameters
# man systemd.service for parameters
# man systemd.exec for parameters

[Unit]
Description=OpenIrrigation Daily Report Generator
Requires=postgresql.service
After=postgresql.service
Requires=postfix.service
After=postfix.service
After=network.target

[Service]
Type=oneshot
User=__USER__
Group=__GROUP__
WorkingDirectory=__LOGDIR__
ExecStart=__BINDIR__/dailyReport.py --db=__DBNAME__ --log=__LOGDIR__/DailyReport.log
