# This file is part of OpenIrrigation
#
# this service sends out notification when other OI services fail
#
# man systemd.unit for parameters
# man systemd.service for parameters
# man systemd.exec for parameters

[Unit]
Description=OpenIrrigation Notifier
Requires=postgresql
After=postgresql
After=postfix

[Service]
Type=simple
User=__USER__
Group=__GROUP__
WorkingDirectory=__LOGDIR__
ExecStart=__BINDIR__/notifier.py --params=__DBDIR__/params.db --log=__LOGDIR__/Notifier.log --instance=%i --host=%H
