# This file is part of OpenIrrigation
#
# this service runs the scheduler
#
# man systemd.unit for parameters
# man systemd.service for parameters
# man systemd.exec for parameters

[Unit]
Description=OpenIrrigation Scheduler
OnFailure=OINotify@%n.service

[Service]
# Type=simple # Default
User=__USER__
Group=__GROUP__
WorkingDirectory=__LOGDIR__
ExecStart=__BINDIR__/scheduler.py --db=__DBNAME__ --log=__LOGDIR__/Scheduler.log
RestartSec=120 
Restart=always

[Install]
WantedBy=multi-user.target
